In [1]:
name = input("Enter your name!")
name

Enter your name!Farhan

'Farhan'

In [2]:
type(name)

str

In [4]:
age = int(input("Enter your age "))
age

Enter your age 21

21

In [5]:
type(age)

int

# Chapter 3 introduction to Lists in python

In [6]:
list_1 = ["Farhan","Ali","Hamza","Asad"]

In [7]:
list_1

['Farhan', 'Ali', 'Hamza', 'Asad']

In [8]:
list_2 = [1,2,3,4,5]

In [9]:
list_2

[1, 2, 3, 4, 5]

In [10]:
list_3 = [2.3,4.5,6.7]

In [11]:
list_3

[2.3, 4.5, 6.7]

In [12]:
list_4 = ["Farhan","Ali", 23, 5.8, 2.8]

In [13]:
list_4

['Farhan', 'Ali', 23, 5.8, 2.8]

# List Functions

In [14]:
list = ["Farhan", "Ali","Asad"]

In [15]:
list

['Farhan', 'Ali', 'Asad']

#  How to access list items

In [16]:
list[0]

'Farhan'

In [17]:
list[1]

'Ali'

In [20]:
fruits = []

In [21]:
len(fruits)

0

# how to add item in a list

In [22]:
#we can use append  function to add items in a list in the last . and it will only take one value

In [23]:
fruits

[]

In [24]:
fruits.append("apple")

In [25]:
fruits

['apple']

In [26]:
fruits.append("cherry")

In [27]:
fruits

['apple', 'cherry']

In [28]:
fruits.append("banana")

In [29]:
fruits

['apple', 'cherry', 'banana']

In [30]:
# Next Insert funstion, it will also add values in the list but it also can take index number where you want to add the value

In [31]:
fruits

['apple', 'cherry', 'banana']

In [34]:
fruits.insert(1,"Mango") #itll will add Mango in the 1st index

In [35]:
fruits

['apple', 'Mango', 'Mango', 'cherry', 'banana']

In [36]:
# If we want to add multiple valuse or item in the list by once, then we can use extent function of list

In [37]:
fruits

['apple', 'Mango', 'Mango', 'cherry', 'banana']

In [38]:
fruits.extend(["APPLE","ORANGE","MANGO","BANANA"]) #for this we will give a list for multiple valuse

In [41]:
fruits

['apple',
 'Mango',
 'Mango',
 'cherry',
 'banana',
 'APPLE',
 'ORANGE',
 'MANGO',
 'BANANA']

# For counting we can use count function

In [42]:
#if we want to count thatb how many time a number contain in a list we can use count() function

In [44]:
fruits

['apple',
 'Mango',
 'Mango',
 'cherry',
 'banana',
 'APPLE',
 'ORANGE',
 'MANGO',
 'BANANA']

In [45]:
fruits.count("apple")

1

In [46]:
fruits.count("Mango")

2

In [47]:
#if we want to know about the index number of item in the list then we can use index function

In [48]:
fruits

['apple',
 'Mango',
 'Mango',
 'cherry',
 'banana',
 'APPLE',
 'ORANGE',
 'MANGO',
 'BANANA']

In [49]:
fruits.index("banana")

4

# Clear Function

In [50]:
#it will delete all the elements from the list permamnntly

In [51]:
Names = ["Farhan","Ali","Asad","Johns"]

In [53]:
Names

['Farhan', 'Ali', 'Asad', 'Johns']

In [54]:
Names.clear()

In [55]:
Names

[]

# Copy Function

# Copy Function make the copy of the origional list and then we have 2 different lists one is oriogional and 2nd is copied list. It is copyed items by value

In [57]:
fruits

['apple',
 'Mango',
 'Mango',
 'cherry',
 'banana',
 'APPLE',
 'ORANGE',
 'MANGO',
 'BANANA']

In [58]:
Fruits_02 = fruits.copy()

In [59]:
Fruits_02

['apple',
 'Mango',
 'Mango',
 'cherry',
 'banana',
 'APPLE',
 'ORANGE',
 'MANGO',
 'BANANA']

In [61]:
print(f"This is the 1st origional list {fruits}")
print(f"This is the 2nd Copied list {Fruits_02}")

This is the 1st origional list ['apple', 'Mango', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']
This is the 2nd Copied list ['apple', 'Mango', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

# How to remove items from list

In [62]:
# we can delete items from list in 2 ways

In [63]:
cities = ["Faisalabad", "Lahore","karachi","Islamabad"]

In [64]:
cities

['Faisalabad', 'Lahore', 'karachi', 'Islamabad']

In [65]:
# 1st way is Dell keyword

In [66]:
del cities[0] #it will take index number 0 and delete it

In [67]:
cities

['Lahore', 'karachi', 'Islamabad']

In [68]:
# The other method is remove it will take value and delete it

In [69]:
cities.remove("Lahore")

In [70]:
cities

['karachi', 'Islamabad']

# Pop Function

In [71]:
#pop function is same as remove but it return the value after removing

In [72]:
cities

['karachi', 'Islamabad']

In [73]:
cities.append("Lahore")

In [74]:
cities

['karachi', 'Islamabad', 'Lahore']

In [75]:
cities.insert(0, "KPK")

In [76]:
cities

['KPK', 'karachi', 'Islamabad', 'Lahore']

In [77]:
poppedCities = cities.pop()

In [78]:
print(f" This city is popped from list {poppedCities}")
print(f" The remaining cities are {cities}")

 This city is popped from list Lahore
 The remaining cities are ['KPK', 'karachi', 'Islamabad']

# Sort and Reverse  Functions

In [79]:
cities

['KPK', 'karachi', 'Islamabad']

In [80]:
cities.sort() #it will sort values in the asscending order

In [81]:
cities

['Islamabad', 'KPK', 'karachi']

In [84]:
cities.reverse() # it will reverse the items in the desending order

In [85]:
cities

['Islamabad', 'KPK', 'karachi']