In [1]:
name = input("Enter your name!")
name

Enter your name!Farhan

'Farhan'

In [2]:
type(name)

str

In [3]:
age = int(input("Enter your age "))
age

Enter your age 2

2

In [4]:
type(age)

int

# Chapter 3 introduction to Lists in python

In [5]:
list_1 = ["Farhan","Ali","Hamza","Asad"]

In [6]:
list_1

['Farhan', 'Ali', 'Hamza', 'Asad']

In [7]:
list_2 = [1,2,3,4,5]

In [8]:
list_2

[1, 2, 3, 4, 5]

In [9]:
list_3 = [2.3,4.5,6.7]

In [10]:
list_3

[2.3, 4.5, 6.7]

In [11]:
list_4 = ["Farhan","Ali", 23, 5.8, 2.8]

In [12]:
list_4

['Farhan', 'Ali', 23, 5.8, 2.8]

# List Functions

In [13]:
list = ["Farhan", "Ali","Asad"]

In [14]:
list

['Farhan', 'Ali', 'Asad']

#  How to access list items

In [15]:
list[0]

'Farhan'

In [16]:
list[1]

'Ali'

In [17]:
fruits = []

In [18]:
len(fruits)

0

# how to add item in a list

In [19]:
#we can use append  function to add items in a list in the last . and it will only take one value

In [20]:
fruits

[]

In [21]:
fruits.append("apple")

In [22]:
fruits

['apple']

In [23]:
fruits.append("cherry")

In [24]:
fruits

['apple', 'cherry']

In [25]:
fruits.append("banana")

In [26]:
fruits

['apple', 'cherry', 'banana']

In [27]:
# Next Insert funstion, it will also add values in the list but it also can take index number where you want to add the value

In [28]:
fruits

['apple', 'cherry', 'banana']

In [29]:
fruits.insert(1,"Mango") #itll will add Mango in the 1st index

In [30]:
fruits

['apple', 'Mango', 'cherry', 'banana']

In [31]:
# If we want to add multiple valuse or item in the list by once, then we can use extent function of list

In [32]:
fruits

['apple', 'Mango', 'cherry', 'banana']

In [33]:
fruits.extend(["APPLE","ORANGE","MANGO","BANANA"]) #for this we will give a list for multiple valuse

In [34]:
fruits

['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

# For counting we can use count function

In [35]:
#if we want to count thatb how many time a number contain in a list we can use count() function

In [36]:
fruits

['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

In [37]:
fruits.count("apple")

1

In [38]:
fruits.count("Mango")

1

In [39]:
#if we want to know about the index number of item in the list then we can use index function

In [40]:
fruits

['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

In [41]:
fruits.index("banana")

3

# Clear Function

In [42]:
#it will delete all the elements from the list permamnntly

In [43]:
Names = ["Farhan","Ali","Asad","Johns"]

In [44]:
Names

['Farhan', 'Ali', 'Asad', 'Johns']

In [45]:
Names.clear()

In [46]:
Names

[]

# Copy Function

# Copy Function make the copy of the origional list and then we have 2 different lists one is oriogional and 2nd is copied list. It is copyed items by value

In [47]:
fruits

['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

In [48]:
Fruits_02 = fruits.copy()

In [49]:
Fruits_02

['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

In [50]:
print(f"This is the 1st origional list {fruits}")
print(f"This is the 2nd Copied list {Fruits_02}")

This is the 1st origional list ['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']
This is the 2nd Copied list ['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

# How to remove items from list

In [51]:
# we can delete items from list in 2 ways

In [52]:
cities = ["Faisalabad", "Lahore","karachi","Islamabad"]

In [53]:
cities

['Faisalabad', 'Lahore', 'karachi', 'Islamabad']

In [54]:
# 1st way is Dell keyword

In [55]:
del cities[0] #it will take index number 0 and delete it

In [56]:
cities

['Lahore', 'karachi', 'Islamabad']

In [57]:
# The other method is remove it will take value and delete it

In [58]:
cities.remove("Lahore")

In [59]:
cities

['karachi', 'Islamabad']

# Pop Function

In [60]:
#pop function is same as remove but it return the value after removing

In [61]:
cities

['karachi', 'Islamabad']

In [62]:
cities.append("Lahore")

In [63]:
cities

['karachi', 'Islamabad', 'Lahore']

In [64]:
cities.insert(0, "KPK")

In [65]:
cities

['KPK', 'karachi', 'Islamabad', 'Lahore']

In [66]:
poppedCities = cities.pop()

In [67]:
print(f" This city is popped from list {poppedCities}")
print(f" The remaining cities are {cities}")

 This city is popped from list Lahore
 The remaining cities are ['KPK', 'karachi', 'Islamabad']

# Sort and Reverse  Functions

In [68]:
cities

['KPK', 'karachi', 'Islamabad']

In [69]:
cities.sort() #it will sort values in the asscending order

In [70]:
cities

['Islamabad', 'KPK', 'karachi']

In [71]:
cities.reverse() # it will reverse the items in the desending order

In [72]:
cities

['karachi', 'KPK', 'Islamabad']

In [73]:
First_Name = ["Farhan", "Ali"]

In [74]:
First_Name.reverse()

In [75]:
First_Name

['Ali', 'Farhan']

# Problem Solving Chap 3 Lists

# 3-1. Names: Store the names of a few of your friends in a list called names. Print each person’s name by accessing each element in the list, one at a time.

In [76]:
names = ["Farhan","Abdulrehman","hafiz"]

In [77]:
names[0]

'Farhan'

In [78]:
names[1]

'Abdulrehman'

In [79]:
names[2]

'hafiz'

In [80]:
names[3]

IndexError: list index out of range

# 3-2. Greetings: Start with the list you used in Exercise 3-1, but instead of just printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the person’s name.

In [81]:
names

['Farhan', 'Abdulrehman', 'hafiz']

In [82]:
message = "How are you!"

In [83]:
print("Hello", " ", names[0],message)

Hello   Farhan How are you!

In [84]:
print("Hello", " ", names[1],message)

Hello   Abdulrehman How are you!

In [85]:
print("Hello", " ", names[2],message)

Hello   hafiz How are you!

# 3-3. Your Own List: Think of your favorite mode of transportation, such as a motorcycle or a car, and make a list that stores several examples. Use your list to print a series of statements about these items, such as “I would like to own a Honda motorcycle.”

In [86]:
vehicles = ["Bike", "HeavyBike", "Car", "Cycle"]

In [87]:
statement = "I would like to own a"

In [88]:
print(statement, vehicles[0])

I would like to own a Bike

In [89]:
print(statement, vehicles[1])

I would like to own a HeavyBike

In [90]:
print(statement, vehicles[2])

I would like to own a Car

In [91]:
for i in vehicles:
    print(statement, i)

I would like to own a Bike
I would like to own a HeavyBike
I would like to own a Car
I would like to own a Cycle

# 3-4. Guest List: If you could invite anyone, living or deceased, to dinner, who would you invite? Make a list that includes at least three people you’d like to invite to dinner. Then use your list to print a message to each person, inviting them to dinner.

In [92]:
Guest_list = ["Quaid e Azam", "Allama iqbal","Imran Khan", "Barrister Gohar"]

In [93]:
message = "I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!"

In [98]:
for i in Guest_list:
    print("Hi", i, message)

Hi Quaid e Azam I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Hi Allama iqbal I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Hi Imran Khan I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Hi Barrister Gohar I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!

# 3-5. Changing Guest List: You just heard that one of your guests can’t make the dinner, so you need to send out a new set of invitations. You’ll have to think of someone else to invite.

Start with your program from Exercise 3-4. Add a print() call at the end of
your program, stating the name of the guest who can’t make it.

In [99]:
print(Guest_list[0], "Due to heavy rain in his city he will not join us ")

Quaid e Azam Due to heavy rain in his city he will not join us

In [100]:
Guest_list

['Quaid e Azam', 'Allama iqbal', 'Imran Khan', 'Barrister Gohar']

In [105]:
poped = Guest_list.pop(0)

In [107]:
print(poped, "cannot join us ")

Quaid e Azam cannot join us