In [1]:
name = input("Enter your name!")
name

Enter your name!leo

'leo'

In [2]:
type(name)

str

In [3]:
age = int(input("Enter your age "))
age

Enter your age 5

5

In [4]:
type(age)

int

# Chapter 3 introduction to Lists in python

In [5]:
list_1 = ["Farhan","Ali","Hamza","Asad"]

In [6]:
list_1

['Farhan', 'Ali', 'Hamza', 'Asad']

In [7]:
list_2 = [1,2,3,4,5]

In [8]:
list_2

[1, 2, 3, 4, 5]

In [9]:
list_3 = [2.3,4.5,6.7]

In [10]:
list_3

[2.3, 4.5, 6.7]

In [11]:
list_4 = ["Farhan","Ali", 23, 5.8, 2.8]

In [12]:
list_4

['Farhan', 'Ali', 23, 5.8, 2.8]

# List Functions

In [13]:
List = ["Farhan", "Ali","Asad"]

In [14]:
List

['Farhan', 'Ali', 'Asad']

#  How to access list items

In [15]:
List[0]

'Farhan'

In [16]:
List[1]

'Ali'

In [17]:
fruits = []

In [18]:
len(fruits)

0

# how to add item in a list

In [19]:
#we can use append  function to add items in a list in the last . and it will only take one value

In [20]:
fruits

[]

In [21]:
fruits.append("apple")

In [22]:
fruits

['apple']

In [23]:
fruits.append("cherry")

In [24]:
fruits

['apple', 'cherry']

In [25]:
fruits.append("banana")

In [26]:
fruits

['apple', 'cherry', 'banana']

In [27]:
# Next Insert funstion, it will also add values in the list but it also can take index number where you want to add the value

In [28]:
fruits

['apple', 'cherry', 'banana']

In [29]:
fruits.insert(1,"Mango") #itll will add Mango in the 1st index

In [30]:
fruits

['apple', 'Mango', 'cherry', 'banana']

In [31]:
# If we want to add multiple valuse or item in the list by once, then we can use extent function of list

In [32]:
fruits

['apple', 'Mango', 'cherry', 'banana']

In [33]:
fruits.extend(["APPLE","ORANGE","MANGO","BANANA"]) #for this we will give a list for multiple valuse

In [34]:
fruits

['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

# For counting we can use count function

In [35]:
#if we want to count thatb how many time a number contain in a list we can use count() function

In [36]:
fruits

['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

In [37]:
fruits.count("apple")

1

In [38]:
fruits.count("Mango")

1

In [39]:
#if we want to know about the index number of item in the list then we can use index function

In [40]:
fruits

['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

In [41]:
fruits.index("banana")

3

# Clear Function

In [42]:
#it will delete all the elements from the list permamnntly

In [43]:
Names = ["Farhan","Ali","Asad","Johns"]

In [44]:
Names

['Farhan', 'Ali', 'Asad', 'Johns']

In [45]:
Names.clear()

In [46]:
Names

[]

# Copy Function

# Copy Function make the copy of the origional list and then we have 2 different lists one is oriogional and 2nd is copied list. It is copyed items by value

In [47]:
fruits

['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

In [48]:
Fruits_02 = fruits.copy()

In [49]:
Fruits_02

['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

In [50]:
print(f"This is the 1st origional list {fruits}")
print(f"This is the 2nd Copied list {Fruits_02}")

This is the 1st origional list ['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']
This is the 2nd Copied list ['apple', 'Mango', 'cherry', 'banana', 'APPLE', 'ORANGE', 'MANGO', 'BANANA']

# How to remove items from list

In [51]:
# we can delete items from list in 2 ways

In [52]:
cities = ["Faisalabad", "Lahore","karachi","Islamabad"]

In [53]:
cities

['Faisalabad', 'Lahore', 'karachi', 'Islamabad']

In [54]:
# 1st way is Dell keyword

In [55]:
del cities[0] #it will take index number 0 and delete it

In [56]:
cities

['Lahore', 'karachi', 'Islamabad']

In [57]:
# The other method is remove it will take value and delete it

In [58]:
cities.remove("Lahore")

In [59]:
cities

['karachi', 'Islamabad']

# Pop Function

In [60]:
#pop function is same as remove but it return the value after removing

In [61]:
cities

['karachi', 'Islamabad']

In [62]:
cities.append("Lahore")

In [63]:
cities

['karachi', 'Islamabad', 'Lahore']

In [64]:
cities.insert(0, "KPK")

In [65]:
cities

['KPK', 'karachi', 'Islamabad', 'Lahore']

In [66]:
poppedCities = cities.pop()

In [67]:
print(f" This city is popped from list {poppedCities}")
print(f" The remaining cities are {cities}")

 This city is popped from list Lahore
 The remaining cities are ['KPK', 'karachi', 'Islamabad']

# Sort and Reverse  Functions

In [68]:
cities

['KPK', 'karachi', 'Islamabad']

In [69]:
cities.sort() #it will sort values in the asscending order

In [70]:
cities

['Islamabad', 'KPK', 'karachi']

In [71]:
cities.reverse() # it will reverse the items in the desending order

In [72]:
cities

['karachi', 'KPK', 'Islamabad']

In [73]:
First_Name = ["Farhan", "Ali"]

In [74]:
First_Name.reverse()

In [75]:
First_Name

['Ali', 'Farhan']

# Problem Solving Chap 3 Lists

# 3-1. Names: Store the names of a few of your friends in a list called names. Print each person’s name by accessing each element in the list, one at a time.

In [76]:
names = ["Farhan","Abdulrehman","hafiz"]

In [77]:
names[0]

'Farhan'

In [78]:
names[1]

'Abdulrehman'

In [79]:
names[2]

'hafiz'

In [80]:
#names[3]

# 3-2. Greetings: Start with the list you used in Exercise 3-1, but instead of just printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the person’s name.

In [81]:
names

['Farhan', 'Abdulrehman', 'hafiz']

In [82]:
message = "How are you!"

In [83]:
print("Hello", " ", names[0],message)

Hello   Farhan How are you!

In [84]:
print("Hello", " ", names[1],message)

Hello   Abdulrehman How are you!

In [85]:
print("Hello", " ", names[2],message)

Hello   hafiz How are you!

# 3-3. Your Own List: Think of your favorite mode of transportation, such as a motorcycle or a car, and make a list that stores several examples. Use your list to print a series of statements about these items, such as “I would like to own a Honda motorcycle.”

In [86]:
vehicles = ["Bike", "HeavyBike", "Car", "Cycle"]

In [87]:
statement = "I would like to own a"

In [88]:
print(statement, vehicles[0])

I would like to own a Bike

In [89]:
print(statement, vehicles[1])

I would like to own a HeavyBike

In [90]:
print(statement, vehicles[2])

I would like to own a Car

In [91]:
for i in vehicles:
    print(statement, i)

I would like to own a Bike
I would like to own a HeavyBike
I would like to own a Car
I would like to own a Cycle

# 3-4. Guest List: If you could invite anyone, living or deceased, to dinner, who would you invite? Make a list that includes at least three people you’d like to invite to dinner. Then use your list to print a message to each person, inviting them to dinner.

In [92]:
Guest_list = ["Quaid e Azam", "Allama iqbal","Imran Khan", "Barrister Gohar"]

In [93]:
message = "I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!"

In [94]:
for i in Guest_list:
    print("Hi", i, message)

Hi Quaid e Azam I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Hi Allama iqbal I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Hi Imran Khan I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Hi Barrister Gohar I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!

# 3-5. Changing Guest List: You just heard that one of your guests can’t make the dinner, so you need to send out a new set of invitations. You’ll have to think of someone else to invite.

Start with your program from Exercise 3-4. Add a print() call at the end of
your program, stating the name of the guest who can’t make it.

In [95]:
print(Guest_list[0], "Due to heavy rain in his city he will not join us ")

Quaid e Azam Due to heavy rain in his city he will not join us

In [96]:
Guest_list

['Quaid e Azam', 'Allama iqbal', 'Imran Khan', 'Barrister Gohar']

In [97]:
poped = Guest_list.pop(0)

In [98]:
print(poped, "cannot join us ")

Quaid e Azam cannot join us

In [99]:
Guest_list

['Allama iqbal', 'Imran Khan', 'Barrister Gohar']

Modify your list, replacing the name of the guest who can’t make it with the
name of the new person you are inviting.

In [100]:
Guest_list[0]= "Sher Afzal Marwat"

In [101]:
Guest_list

['Sher Afzal Marwat', 'Imran Khan', 'Barrister Gohar']

# Print a second set of invitation messages, one for each person who is still in your list.

In [102]:
for i in Guest_list:
    print(i, message)

Sher Afzal Marwat I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Imran Khan I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Barrister Gohar I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!

# 3-6. More Guests: You just found a bigger dinner table, so now more space is available. Think of three more guests to invite to dinner.

• Start with your program from Exercise 3-4 or 3-5. Add a print() call to the
end of your program, informing people that you found a bigger table.

In [103]:
for i in Guest_list:
    print(i, message)
print("We found a bigger table and wll invite more guests")

Sher Afzal Marwat I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Imran Khan I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Barrister Gohar I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
We found a bigger table and wll invite more guests

Use insert() to add one new guest to the beginning of your list.

In [104]:
Guest_list.insert(0, "Muraad Saeed")

In [105]:
Guest_list

['Muraad Saeed', 'Sher Afzal Marwat', 'Imran Khan', 'Barrister Gohar']

Use insert() to add one new guest to the middle of your list.

In [106]:
len(Guest_list)//2

2

In [107]:
Guest_list.insert(len(Guest_list)//2, "Asad umar")

In [108]:
Guest_list

['Muraad Saeed',
 'Sher Afzal Marwat',
 'Asad umar',
 'Imran Khan',
 'Barrister Gohar']

Use append() to add one new guest to the end of your list.

In [109]:
Guest_list.append("Ali")

In [110]:
Guest_list

['Muraad Saeed',
 'Sher Afzal Marwat',
 'Asad umar',
 'Imran Khan',
 'Barrister Gohar',
 'Ali']

Print a new set of invitation messages, one for each person in your list

In [111]:
for i in Guest_list:
    print(i, message)

Muraad Saeed I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Sher Afzal Marwat I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Asad umar I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Imran Khan I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Barrister Gohar I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!
Ali I would like you to join me at My dinner party on Thursday 8PM, at Royal palace!

# 3-7. Shrinking Guest List: You just found out that your new dinner table won’t arrive in time for the dinner, and now you have space for only two guests.

Start with your program from Exercise 3-6. Add a new line that prints a
message saying that you can invite only two people for dinner.

In [112]:
for i in Guest_list:
    print(i,"Sorry We have space only for two guests!")

Muraad Saeed Sorry We have space only for two guests!
Sher Afzal Marwat Sorry We have space only for two guests!
Asad umar Sorry We have space only for two guests!
Imran Khan Sorry We have space only for two guests!
Barrister Gohar Sorry We have space only for two guests!
Ali Sorry We have space only for two guests!

Use pop() to remove guests from your list one at a time until only two
names remain in your list. Each time you pop a name from your list, print a
message to that person letting them know you’re sorry you can’t invite them
to dinner.

In [113]:
Guest_list = ['Muraad Saeed', 'Sher Afzal Marwat', 'Asad umar', 'Imran Khan',  'Barrister Gohar',  'Ali']

In [114]:
Guest_list = ['Muraad Saeed', 'Sher Afzal Marwat', 'Asad umar', 'Imran Khan',  'Barrister Gohar',  'Ali']

In [115]:
message = "Sorry we cannor invite you to dinner!"

In [116]:
poped_List = []

In [117]:
poped_List = Guest_list.pop()

In [118]:
for i in Guest_list:
    if len(Guest_list)>=2:
        Guest_list.pop()

In [119]:
Guest_list

['Muraad Saeed', 'Sher Afzal Marwat']

In [120]:
poped_List

'Ali'

Print a message to each of the two people still on your list, letting them
know they’re still invited.

In [121]:
Guest_list

['Muraad Saeed', 'Sher Afzal Marwat']

In [122]:
for i in Guest_list:
    print(i, "You are still invited for dinner")

Muraad Saeed You are still invited for dinner
Sher Afzal Marwat You are still invited for dinner

Use del to remove the last two names from your list, so you have an empty
list. Print your list to make sure you actually have an empty list at the end of
your program.

In [123]:
Guest_list = ['Muraad Saeed', 'Sher Afzal Marwat']

In [124]:
del Guest_list[0]

In [125]:
del Guest_list[0]

In [126]:
Guest_list

[]

# 3-8. Seeing the World: Think of at least five places in the world you’d like to visit.

Store the locations in a list. Make sure the list is not in alphabetical order

In [127]:
location = ["muree", "Lahore","Faisalabad","Islamabad"]

Print your list in its original order. Don’t worry about printing the list neatly;
just print it as a raw Python list.

In [128]:
location

['muree', 'Lahore', 'Faisalabad', 'Islamabad']

In [129]:
copiedlist = location.copy()

In [130]:
copiedlist

['muree', 'Lahore', 'Faisalabad', 'Islamabad']

In [131]:
copiedlist.sort()

In [132]:
copiedlist

['Faisalabad', 'Islamabad', 'Lahore', 'muree']

In [133]:
print(f"This is origional list {location}")
print(f"This is copied list {copiedlist}")

This is origional list ['muree', 'Lahore', 'Faisalabad', 'Islamabad']
This is copied list ['Faisalabad', 'Islamabad', 'Lahore', 'muree']

Use sorted() to print your list in reverse-alphabetical order without changing the order of the original list.

In [134]:
location

['muree', 'Lahore', 'Faisalabad', 'Islamabad']

In [135]:
copiedlist

['Faisalabad', 'Islamabad', 'Lahore', 'muree']

In [136]:
copiedlist.reverse()

In [137]:
copiedlist

['muree', 'Lahore', 'Islamabad', 'Faisalabad']

Show that your list is still in its original order by printing it again.

In [138]:
location

['muree', 'Lahore', 'Faisalabad', 'Islamabad']

Use reverse() to change the order of your list. Print the list to show that its
order has changed.

In [139]:
location.reverse()

In [140]:
location

['Islamabad', 'Faisalabad', 'Lahore', 'muree']

In [141]:
copiedlist

['muree', 'Lahore', 'Islamabad', 'Faisalabad']

• Use reverse() to change the order of your list again. Print the list to show
it’s back to its original order.

In [142]:
location.reverse()

In [143]:
location

['muree', 'Lahore', 'Faisalabad', 'Islamabad']

# 3-9. Dinner Guests: Working with one of the programs from Exercises 3-4 through 3-7 (pages 41–42), use len() to print a message indicating the number of people you’re inviting to dinner.

In [144]:
Guest_list

[]

In [145]:
Guest_list.append("Ali")

In [146]:
Guest_list

['Ali']

In [147]:
Guest_list.extend(["farhan","Asad","Leo"])

In [148]:
Guest_list

['Ali', 'farhan', 'Asad', 'Leo']

In [149]:
len(Guest_list)

4

# 3-10. Every Function: Think of things you could store in a list. For example, you could make a list of mountains, rivers, countries, cities, languages, or anything else you’d like. Write a program that creates a list containing these items and then uses each function introduced in this chapter at least once.

In [150]:
List_02 = ["Faisalabad","Farhan","Ali","Bike","Car","CGPA",10]

In [151]:
List_02

['Faisalabad', 'Farhan', 'Ali', 'Bike', 'Car', 'CGPA', 10]

In [152]:
List_02.reverse()

In [153]:
List_02

[10, 'CGPA', 'Car', 'Bike', 'Ali', 'Farhan', 'Faisalabad']

# 3-11. Intentional Error: If you haven’t received an index error in one of your programs yet, try to make one happen. Change an index in one of your programs to produce an index error. Make sure you correct the error before closing the program.

In [154]:
List_02[10]

IndexError: list index out of range

# Chapter 4 Working with lists

looping through lists

In [155]:
names

['Farhan', 'Abdulrehman', 'hafiz']

In [156]:
for name in names:
    print(name)

Farhan
Abdulrehman
hafiz

In [157]:
for name in names:
    print(f"{name.title()}, That was great trick")

Farhan, That was great trick
Abdulrehman, That was great trick
Hafiz, That was great trick

In [158]:
cgpa = [2, 4, 2, 3 ]

In [159]:
for marks in cgpa:
    print(f"{marks.title()}, Farhan's GPA in Semesters")

AttributeError: 'int' object has no attribute 'title'

In [160]:
names

['Farhan', 'Abdulrehman', 'hafiz']

In [161]:
for name in names:
    print(f"{name.title()}, That was great trick!")
    print(f"I cannot wait to see more tricks , {name.title()}.\n")

Farhan, That was great trick!
I cannot wait to see more tricks , Farhan.

Abdulrehman, That was great trick!
I cannot wait to see more tricks , Abdulrehman.

Hafiz, That was great trick!
I cannot wait to see more tricks , Hafiz.

In [162]:
for name in names:
    print(f"{name.title()}, That was great trick!")
    print(f"I cannot wait to see more tricks , {name.title()}.\n")
print("Thank you all of you for being here")

Farhan, That was great trick!
I cannot wait to see more tricks , Farhan.

Abdulrehman, That was great trick!
I cannot wait to see more tricks , Abdulrehman.

Hafiz, That was great trick!
I cannot wait to see more tricks , Hafiz.

Thank you all of you for being here

# 4-1. Pizzas: Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

Modify your for loop to print a sentence using the name of the pizza,
instead of printing just the name of the pizza. For each pizza, you should
have one line of output containing a simple statement like I like pepperoni pizza.

In [163]:
pizaNames = ["Chicken Tikka","Chickenkabab", "Malai botiii"]
for piza in pizaNames:
    print(f"I like the {piza.title()} pizza ")

I like the Chicken Tikka pizza
I like the Chickenkabab pizza
I like the Malai Botiii pizza

Add a line at the end of your program, outside the for loop, that states
how much you like pizza. The output should consist of three or more lines
about the kinds of pizza you like and then an additional sentence, such as
I really love pizza!

In [164]:
pizaNames = ["Chicken Tikka","Chickenkabab", "Malai botiii"]
for piza in pizaNames:
    print(f"I like the {piza.title()} pizza ")
print('These pizas are very yummy and i really like it')

I like the Chicken Tikka pizza
I like the Chickenkabab pizza
I like the Malai Botiii pizza
These pizas are very yummy and i really like it

# 4-2. Animals: Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to print out the name of each animal.

In [165]:
animals = ["Lion", "Tiger", "Cheetah"]

Modify your program to print a statement about each animal, such as A
dog would make a great pet.

In [166]:
for animal in animals:
    print(f"A {animal.title()}, would make a great pet")

A Lion, would make a great pet
A Tiger, would make a great pet
A Cheetah, would make a great pet

Add a line at the end of your program, stating what these animals have in
common. You could print a sentence, such as Any of these animals would
make a great pet!

In [167]:
for animal in animals:
    print(f"A {animal.title()}, would make a great pet")
print("These Animals are brave so thats why i like their these habits")

A Lion, would make a great pet
A Tiger, would make a great pet
A Cheetah, would make a great pet
These Animals are brave so thats why i like their these habits

# Making Numerical Lists

In [168]:
for value in range(1,10):
    print(value)

1
2
3
4
5
6
7
8
9

In [169]:
for value in range(1,10,2):  #range(start, stop, step size)
    print(value)

1
3
5
7
9

use range to make a list of numbers

In [170]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [171]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
list

In [172]:
even_numbers = list(range(1,100, 2))

In [173]:
even_numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [174]:
squares = []
for value in range(1,20):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [175]:
for value in range(21,30):
    squares.append(value)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 21, 22, 23, 24, 25, 26, 27, 28, 29]

# Simple Statistics with a List of Numbers

In [176]:
digit = list(range(1,10))

In [177]:
digit

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [179]:
min(digit)

1

In [180]:
max(digit)

9

In [181]:
sum(digit)

45

In [182]:
digit

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [186]:
total = 0
for i in digit:
    total = total+i
   
    
print(total)

45

# page No sixty, next start